.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.newsFeed{
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.storyContainer{
  width: 90%;
  padding: 0rem 3rem;
}
.infiniteScroll{
  height: 80%;
  width: 75%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.newsFeed::-webkit-scrollbar {
  display: none;
}
.infiniteScroll::-webkit-scrollbar {
  display: none;
}
.infinite-scroll-component__outerdiv{
  height: 80% !important;
}
.rule{
  color: #ff9500;
    height: 0.6px;
    width: 90%;
}
.loader{

}
.spinner {
  animation: rotate 1s linear infinite;
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 10%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.path {
    stroke: #ff9500;
    stroke-linecap: round;
    animation: dash 3s ease-in-out infinite;
  }



@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@media only screen and (max-width: 1200px) {
  .newsFeed{
    width: 75%;
  }
}
@media only screen and (max-width: 1000px) {
  .newsFeed{
    width: 85%;
  }
}
@media only screen and (max-width: 700px) {
  .newsFeed{
    width: 100%;
  }
  .main{
    justify-content: center;
    padding: 0rem;
  }
  .infiniteScroll{
    width: 90%;
  }
  .storyContainer{
    width: 100%;
  }
}
